// Gameboy

.gameboy {
    background: #DAD6D7;
    color:	#5D3FD3;
    font-family: 'Gill Sans', sans-serif;
    width: 360px;
    height: 592px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px 5px 50px 5px;
}

// Gameboy Screen

.gb-screen-container {
    display: inline-block;
    background: #717287;
    width: 296px;
    height: 210px;
    margin-top: 64px;
    margin-left: 32px;
    border-radius: 10px 10px 40px 10px;
}

.gb-screen {
    display: inline-block;
    background: #8bac0f;
    width: 172px;
    height: 148px;
    margin-top: 31px;
    margin-left: 62px;
}

// Gameboy brand

.gb-brand {
    font-family: 'Gill Sans', sans-serif;
    font-size: 10px;
    margin-top: 5px;
    margin-left: 32px;

    span {
        font-size: 8px;
        
        &:first-child {
            font-size: 20px;
            font-style: italic;
        }
    }
}

// Gameboy pad

.gb-pad {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 32px;
    margin-right: 32px;
}

// Gameboy dpad

.gb-dpad {
    display: flex;
    flex-direction: column;
    width: 84px;
    height: 84px;
}

.dpad-container {
    display: inline-flex;
    justify-content: center;
}

.dpad-up, .dpad-left, .dpad-right, .dpad-down, .dpad-center {
    width: 28px;
    height: 28px;
    background: #272929;
}
.dpad-up { border-radius: 5px 5px 0 0; }
.dpad-left { border-radius: 5px 0 0 5px; }
.dpad-right { border-radius: 0 5px 5px 0; }
.dpad-down { border-radius: 0 0 5px 5px; }

// Gameboy pad action

.gb-button-action {
    display: flex;
    justify-content: space-between;
    width: 85px;
    height: 64px;
    margin-top: 12px;
    transform: rotate(-30deg);
}

.button-a, .button-b {
    background: #9a2257;
    text-align: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;

    span {
        display: block;
        font-size: 11px;
        font-weight: bold;
        margin-top: 40px;
    }
}

// Gameboy menu

.gb-button-menu {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.button-select, .button-start {
    background: #787679;
    text-align: center;
    width: 42px;
    height: 10px;
    margin-left: 10px;
    border-radius: 50px 50px 50px 50px;
    transform: rotate(-20deg);

    span {
        display: block;
        font-size: 11px;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 10px;
    }
}

// Gameboy speaker

.gb-speaker {
    display: flex;
    float: right;
    justify-content: space-between;
    width: 66px;
    margin-top: 40px;
    margin-right: 18px;
    transform: rotate(-30deg);
}

.speaker {
    background: #c4bebb;
    width: 6px;
    height: 50px;
    border-radius: 50px 50px 50px 50px;
}