@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #23272a;
}

header {
    text-align: center;
    color: white;
    height: 100px;
    padding: 2rem;
}

.brand {
    font-family: 'Acme', sans-serif;
}